{% extends '!layout.html' %}

{% block footer %}
        <!-- your html code here -->
<a href="http://www.ens.fr"><img src="{{ pathto('_static/ENS_Logo.png', 1) }}"
alt="ENS" height="100"></a>
<a href="http://www.inria.fr"><img src="{{ pathto('_static/logo-inria.jpg', 1) }}"
alt="INRIA" height="60"></a>
<a href="http://www.saint-gobain-recherche.fr/fr/"><img
src="{{ pathto('_static/logoSGR.png', 1) }}" alt="Saint-Gobain Recherche" height="60"></a>

<script language="JavaScript"
src="http://freehostedscripts.net/ocount.php?site=ID1953783&name=pages
 visitées"></script>
{% endblock %}
